# Virtual environment
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env
*.venv

# Database files
*.sqlite3

# Logs
*.log

# Jupyter
\.ipynb_checkpoints/
