# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
